.wrapper {
  position: relative;
  max-width: 1117px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  column-count: 3;
  column-gap: 10px;
  grid-template-columns: 199px 198px 198px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
}

img {
  width: 100%;
  object-fit: cover;
}

.toolbar {
  margin-top: 10px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: 30px;
}